.App {
  position: relative;
  width: 98vw;
  height: 90vh;
}

.Game {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;

}

.Field {
  border:3px solid black;
  border-left: 8px solid indianred;
  border-right: 8px solid indianred;
}

.ManagePanel {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.Timer {
  font-size: 15px;
  line-height: 1;
  align-self: flex-end;
  margin-bottom: 10px;
}

button {
  width: 80px;
  height: 30px;
}

label {
  font-size: 25px;
  line-height: 1;
}

:focus-visible {
  outline: -webkit-focus-ring-color auto 0;
}

