.App {
  position: relative;
  width: 98vw;
  height: 90vh;
}

.Game {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 800px;
  border: 1px solid black;
}

.ManagePanel {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

button {
  width: 80px;
  height: 30px;
}

label {
  font-size: 25px;
  line-height: 1;
}

